- title "Categories"

%table
  %tr
    %th Parent
    %th Name
    %th Abbrev
  - for category in @categories
    %tr
      %td= h category.parent_id
      %td= link_to h(category.name), category
      %td= h category.full_abbrev
      %td= link_to 'Edit', edit_category_path(category)
      %td= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Category", new_category_path
