- title @category.name, false

%p
  - unless @category.ancestors.reverse.blank?
    - for category in @category.ancestors.reverse
      = link_to h(category.name), category
      &gt;

%h1= h @category.name
%h2= "(#{h(@category.full_abbrev)})"
= simple_format(@category.notes)

- unless @category.children.empty?
  %ul#submenu
    - for category in @category.children
      %li= link_to h(category.name), category

- unless @category.infos.empty?
  %ul#infos
    = render @category.infos

%p
  = link_to "Rajouter une info", new_category_info_path(@category)

%p
  = link_to "Rajouter une categorie", new_category_path

%hr
%p
  = link_to "Edit", edit_category_path(@category)
  |
  = link_to "Destroy", @category, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", categories_path
