- title @category.name, false

%p
  - unless @category.ancestors.reverse.blank?
    - for category in @category.ancestors.reverse
      = link_to h(category.name), category
      &gt;

%h1= h @category.name

- unless @category.children.empty?
  %ul#submenu
    - for category in @category.children
      %li= link_to h(category.name), category

- unless @category.infos.empty?
  %ul#infos
    = render @category.infos

%p
  = link_to "Edit", edit_category_path(@category)
  |
  = link_to "Destroy", @category, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", categories_path
