- title @category.name

%h3= "Thème : #{@category.theme.name}" unless @category.theme.blank?

- if !@category.infos.blank?
  - for info in @category.infos
    = link_to h(info.name), info
- else
  Pas d'infos pour cette catégorie

%p
  = link_to "Edit", edit_category_path(@category)
  |
  = link_to "Destroy", @category, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", categories_path
