- semantic_form_for [@info.category, @info] do |f|
  - f.inputs do
    = f.input :name
    %li.select
      = f.label :category_id, "Parent"
      = f.collection_select :category_id, Category.all(:order => 'name'), :id, :abbrev, :include_blank => true
    = f.input :notes
    = f.input :url

  - f.inputs :name => 'Interlocuteur' do
    = f.input :person, :label => "Nom"

  - f.inputs :name => "Téléphones" do
    = f.input :telephone, :label => "Téléphone"
    = f.input :raccourci
    = f.input :fax

  - f.inputs :name => "Adresse" do
    = f.input :adresse
    = f.input :cp
    = f.input :ville

  - f.buttons do
    = f.commit_button "Submit"
