- title @info.name

%h3
  = "Sous-Catégorie : "
  = link_to(h(@info.sub_category.name), sub_category_path(@info.sub_category)) unless @info.sub_category.blank?

%table#info_details
  %tr
    %th Notes
    %td :
    %td= @info.notes
  %tr
    %th Téléphone(s)
    %td :
    %td= @info.phone_numbers_list
  %tr
    %th Adresse
    %td :
    %td= @info.full_address
  %tr
    %th Site Web
    %td :
    %td= @info.url

%p
  = link_to "Edit", edit_info_path(@info)
  |
  = link_to "Destroy", @info, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", infos_path
